@media (max-width: 780px ) {

/* HEADER */



.cabecalho ul {

    padding-right: 80px;
    padding-top: 30px;
}

.cabecalho li {
    margin-right: 0;
}


.cabecalho__logo img {

    width: 80px;
    margin-left: 10px;
}

.cabecalho__icones {

    display: flex;
}

.cabecalho__icones img {

    width: 30px;
}

.cabecalho__responsivo {

    position: fixed;
    background: white;

    width: 100%;
    height: 100vh;
    top: 0px;
    left: 75px;
    
    text-align: center;
    line-height: 2.75;
    z-index: 1000;

    transform: translateX(100%);
    transition: transform 1000ms ease;
}

.abre__menu {

    transform: translateX(0);
}

 .menu__abrir {
     display: flex;
 }   


.fechar__menu {

    width: 20px;
    margin-left: 10px;
    display: block;
}

.cabecalho__responsivo ul {

    flex-direction: column;
}


/* DESTAQUE */

.destaque {
    flex-direction: column;
}

.destaque__produto{

    width: 250px;
    height: auto;
}

.destaque__produto img {

    width: 250px;
    height: 200px;
}

.seta__voltar,.seta__proximo {

    width: 75px;
}

.seta__voltar:active {
    transform: scale(0.80);
}

.seta__proximo:active {
    transform: scale(0.80);
}

.destaque__produto-descricao h1 {

    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

.rodape {

    flex-direction: column;
    height: 320px;
}

}